# Hugo
/public
/resources
/themes
.hugo_build.lock
hugo

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Javascript
node_modules

# Java
**/target

# IDE files
**/.vscode
**/nbproject/

doit
