# Hugo
/public
/resources
/themes
.hugo_build.lock

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
hugo

# Javascript
node_modules

**/target

**/.vscode
doit

